{% extends "FctBundle::layout.html.twig" %}
{% block content %}
    <div class="col-lg-4">
        <h2>Añadir alumno</h2>
        <hr>
        
        {{form_start(form, {'action':'','method':'POST','enctype':'multipart/data' })}}
        
        {{form_end(form)}}
    </div>
    <div class="clear-fix">

    </div>

{% endblock %}
