{% extends "FctBundle::layout.html.twig" %}

{% block content %}
<h1>Bienvenido al sitio web que almacena informacion de los alumnos que participan en las formaciones en centro de trabajo</h1>
{% endblock %}

